@charset "utf-8";

/* ========================================
    リセットcss
========================================= */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-style:normal;
	font-weight: normal;
	font-size: 100%;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
html{overflow-y: scroll;}
blockquote, q {quotes: none;}
blockquote:before, blockquote:after,q:before, q:after {content: ''; content: none;}
input, textarea,{margin: 0; padding: 0;}
ol, ul{list-style:none;}
table{border-collapse: collapse; border-spacing:0;}
caption, th{text-align: left;}
a:focus {outline:none;}


/* ========================================
    全体設定
========================================= */
body {
	color:#474747;
	font-size: 14px;
	line-height: 1.4em;
	font-family: "メイリオ", "Meiryo", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

a {
	color:#474747;
	text-decoration:none;
}


/* micro clearfix */
.cf:before,
.cf:after {
    content: " ";
    display: table;
}
.cf:after {clear: both;}
.cf {*zoom: 1;}


.view-width {
	max-width: 970px;
	margin: 0 auto;
}

/* ========================================
    ヘッダー
========================================= */
header {
	border-top: 4px solid #e66464;
}

.header-contents {
	display: flex;
	justify-content: space-between;
	align-items: baseline;
	padding: 30px 0 20px 0;
}

.header-contents ul {
	display: flex;
}

.header-contents ul li {
	padding: 0 15px;
	border-left: 1px solid #dddddd;
}

.header-contents ul li:last-child {
	border-right: 1px solid #dddddd;
}

/* ========================================
    メイン画像
========================================= */

.main-visual {
	width: 100%;
	height: 400px;
	background: url(images/mainimage.jpg) no-repeat top center;

}

.main-text {
	padding: 60px 0;
	width: 100%;
}

.main-text p {
	font-size: calc(0.875rem + ((2vw - 4.8px) * 0.6944));
	font-weight: bold;
	line-height: 1;
	margin-bottom: 2%;
	letter-spacing: 7px;
}

.main-text dl {
	width: 38.45%;
}

.main-text dl img {
	width: 100%;
}

.main-text dt {
	margin-bottom: 4%;
}

.main-text dd {
	margin-bottom: 4%;
}


/* ========================================
    授業内容
========================================= */

.lesson {
	background: url(images/bg.png);
	width: 100%;
}

.lesson-contents {
	padding: 30px 0;
	color: white;
}

.lesson-contents h2 {
	margin-right: 15px;
	font-size: 20px;
	font-weight: bold;
	border-bottom: 5px solid white;
	display: inline;
	padding-bottom: 10px;
}

.lesson-contents span {
	font-size: calc(0.575rem + ((1vw - 4.8px) * 0.6944));
}

.lesson-detail {
	margin-top: 40px;
	display: flex;
	align-items: flex-start;
}

/* 600px */
.lesson-left {
	width: 61.85%;
	background-color: white;
	color: black;
	padding: 16px;
}

.teachers {
	display: flex;
	justify-content: space-between;
	gap: 0 15px;
}

.teachers img {
	width: 100%;
}

.teachers .name {
	font-weight: bold;
}

.teachers .comment {
	font-size: 11.5px;
	color: #474747;
}

/* 250px */
.lesson-right {
	margin-left: 20px;
	background-color: white;
	width: 25.77%;
	color: black;
}

.lesson-right h3 {
	font-size: 17px;
	font-weight: bold;
	padding: 15px 15px 10px 15px;
}

.lesson-right ul li {
	border-top: 1px solid #dddddd;
	padding: 15px;
}

.lesson-right dl {
	display: flex;
	align-items: center;
}

.lesson-right dt {
	margin-right: 10px;
}

/* ========================================
    料金体制
========================================= */

.price {
	background-color: #f1f0f0;
}

.price-contents {
	padding: 20px 0;
}

.price-contents h2 {
	margin-right: 15px;
	font-size: 20px;
	font-weight: bold;
	border-bottom: 5px solid #e66464;
	display: inline;
	padding-bottom: 10px;
}

.price-contents h2 span {
	font-size: 12px;
}

.price-detail {
	margin-top: 30px;
}

.price-detail .price-list {
	display: flex;
	justify-content: space-between;
}

.price-list > li {
	background-color: white;
	height: 280px;
	padding: 15px;
	width: 28.36%;
	position: relative;
}

.price-list dt {
	font-weight: bold;
	font-size: 17px;
	margin-bottom: 10px;
}

.price-list .month-price {
	color: #e66464;
	font-size: 21px;
	font-weight: bold;
	margin-bottom: 20px;
}

.price-list .month-price span {
	font-size: 16px;
	margin-left: 10px;
}

.option-detail > li {
	padding: 10px 0;
	font-size: 14px;
	border-top: 1px solid #f1f0f0;
}

.option-detail >li:last-child {
	border-bottom: 1px solid #f1f0f0;
}

.membership {
	position: absolute;
	left: 20px;
	bottom: 20px;
	background-color: #e66464;
	color: white;
	font-weight: bold;
	width: 90px;
	height: 30px;
	border: none;
	border-radius: 5px;
}


/* ========================================
    フッター
========================================= */

footer {
	text-align: center;
	background-color: #474747;
	color: white;
	height: 100px;
	line-height: 100px;
}